
= form.label :image, class: 'message-image' do
  画像の選択
  = icon('fas', 'image', class: 'message-image')
  = form.file_field :image, class: 'message-image__logo'
= form.text_area :text, placeholder: "text" , rows: "10"
= form.submit "SEND"
